.article-section {
  position: relative;
  // z-index: 1;
}

.article-section-title {
  color: $yellow;
  font-family: "pixeloid";
  font-size: 20px;
  text-align: center;
  margin-bottom: 3vh;
  margin-top: 2vh;
}

.articles-cont {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
}

.article {
  display: flex;
  background: $gradient-blue;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  color: $dark;
  max-width: 80vw;
  border-radius: 10px;

  &:hover {
    mix-blend-mode: difference;
  }
}

.article-img {
  width: 10vh;
  object-fit: cover;
}

.article-texts {
  padding: 1vh;
  gap: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-date {
  font-family: "Inspiration";
  font-size: 14px;
}

.article-title {
  font-size: 12px;
  text-decoration: underline;
}

.article-blank {
  color: $light;
  font-weight: 700;
  font-size: 20px;
  margin-top: 5vh;
}

.article-cta-btn {
  background: rgba($light, 0.7);
  padding: 10px;
  font-family: "Pixeloid ";
  font-size: 10px;
  align-self: flex-end;
  margin: 5vh 2vw 0 0;
  opacity: 0.6;
  position: relative;
  z-index: 3;

  &.center {
    align-self: unset;
    margin-bottom: 10vh;
  }

  &:hover {
    opacity: 1;
    transform: rotateX(180deg);
  }
}

@include bp("md") {
  .article-section-title {
    font-size: 2.5vw;
    margin-top: 0;
  }

  .article-img {
    width: 15vh;
  }

  .article {
    max-width: 60vw;
  }

  .article-title {
    font-size: 1.6vw;
  }

  .article-date {
    font-size: 2vw;
  }

  .article-cta-btn {
    font-size: 1.2vw;
  }
  .article-blank {
    font-size: 32px;
  }
}
