.filters-cont {
  border-radius: 10px;
  background: rgba(149, 149, 149, 0.35);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  position: fixed;
  bottom: 2vh;
  right: 1vw;
  z-index: 2;
  display: inline-flex;
  padding: 10px;
  flex-direction: column;

  gap: 10px;

  color: $light;

  &.hidden {
    transform: translateX(120%);
    background: rgba(149, 149, 149, 0.5);
  }
}

.filters-box {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(221, 221, 221, 0.1);
  display: flex;
  padding: 8px;
  flex-direction: column;
  gap: 8px;
}

.filters-box.mobile-open {
  position: fixed;
  background: rgba(221, 221, 221, 0.2);
  top: 10vh;
  right: 2vw;
  z-index: 4;

  &.hidden {
    display: none;
  }
}

.filters-box.research {
  height: 8vh;
  font-size: 24px;

  color: $light;

  &:focus {
    background: $red;
    box-shadow: 0 0 12px 2px rgba(255, 0, 221, 0.854);
    &::placeholder {
      opacity: 0.7;
    }
  }
}

.filters-box-title,
.research::placeholder {
  color: $light;
  font-family: "Inspiration";
  font-size: 40px;
  font-weight: 400;
}

.filters-box-cont {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    font-family: Helvetica;
    font-weight: 200;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: crosshair;

    span {
      font-size: 16px;
    }

    input {
      display: none;
    }

    input:checked + .filter-box-radio {
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $light;
        width: 4px;
        height: 4px;
      }
    }
  }
}

.filter-box-radio {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid $light;
  transform: rotate(45deg);
}

.filters-box.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filters-box-pagination-elem {
  color: $light;
  font-size: 12px;
  background: none;
  border: none;

  &.text {
    font-size: 10px;
    text-decoration: underline;
  }

  &.disabled {
    opacity: 0.6;
  }
}

@include bp("md") {
  .filters-cont {
    left: 1vw;
    bottom: 5vh;
    right: unset;
  }
}
