.hero-background {
  img {
    width: 100vw;
    height: 110lvh;
    object-fit: cover;
    object-position: center;
    user-select: none;
    pointer-events: none;
  }
}

.hero-section {
  position: relative;
  z-index: 3;
  overflow: hidden;
}

.hero-titles {
  position: absolute;
  inset: 10vh 0 0 0;
}

.hero-title-cont {
  position: absolute;

  &.welcome {
    top: 0;
    left: 6vw;
    width: 60vw;
    rotate: -15deg;
  }

  &.sur {
    top: 8vh;
    left: 67vw;
    width: 17vw;
    rotate: 10deg;
  }

  &.globalies {
    top: 20vh;
    left: 30vw;
    width: 70vw;
    rotate: 15deg;
  }
}

.hero-title-img {
  // mix-blend-mode: difference;
  width: 100%;
  pointer-events: none;
  user-select: none;
}

.hero-cta {
  position: absolute;
  bottom: 25vh;
  left: 50vw;
  transform: translateX(-50%);
  font-size: 4vw;

  display: flex;
  align-items: center;
  flex-direction: column;
  color: $white;
  animation: opacityBreath infinite 4s ease-in-out;
}

@keyframes opacityBreath {
  0% {
    opacity: 0.4;
    transform: translateY(0) translateX(-50%);
  }
  50% {
    opacity: 1;
    transform: translateY(-10%) translateX(-50%);
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 0.4;
  }
}

@include bp("md") {
  .hero-cta {
    bottom: 15vh;
    left: 50vw;
    font-size: 2vw;
    padding: 0 2vw 1vw;
  }
  .hero-title-cont {
    &.welcome {
      top: 10vh;
      left: 2vw;
      width: 38vw;
    }

    &.sur {
      top: 15vh;
      left: 42vw;
      rotate: -5deg;
      width: 10vw;
    }

    &.globalies {
      top: 23vh;
      left: 53vw;
      width: 45vw;
      rotate: 20deg;
    }
  }
}
