.showcase-background {
  position: fixed;
  inset: 0;
  z-index: -1;

  img {
    width: 100vw;
    height: 100lvh;
    object-fit: cover;
  }
}

.showcase-searchbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 75vw;

  position: absolute;
  z-index: 2;
  top: 55vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 16px;
  border-radius: 10px;
  border: 5px solid $blue;
  background: $gradient-blue;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.showcase-searchbar-text {
  color: $dark;
  font-family: "helvetica";
  font-size: 3.5vw;
  font-weight: 700;
  text-decoration: underline;

  &.icon {
    text-decoration: none;
  }
}

.showcase-cards-cont {
  z-index: 2;

  gap: 1vh;
  row-gap: 5vh;
  width: 100%;
  // transform: translateY(-20vh);
  margin-top: -50vh;

  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  padding: 0 3vw;
  align-items: center;
}

.showcase-background-gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, var(--gradientColors));
  mix-blend-mode: difference;
}

.showcase-card {
  position: relative;
  z-index: 5;
  background: var(--solo-score-gradient);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 45vw;
  padding: 2vh 3vw;
  position: relative;
  transition: border-radius 0.5s;
  cursor: pointer;

  &:hover {
    transition: border-radius 5s;
    border-radius: 50%;
    mix-blend-mode: hard-light;

    .showcase-card-cta {
      max-width: 100px;
    }
  }
}

.showcase-card-logos {
  position: absolute;
  top: 0;
  right: -1vw;
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.showcase-card-logo {
  width: 10vw;
  height: 25%;
  rotate: 15deg;
  opacity: 0.8;
}

.showcase-card-title-cont {
  display: flex;
  align-items: baseline;
  gap: 1vw;
}

.showcase-card-cta {
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: max-width 0.3s 0.2s;
  text-decoration: dotted underline;
}

.showcase-card-title {
  font-family: "inspiration";
  font-size: 4vw;
  font-weight: 300;
  margin-bottom: 2vh;
}

.showcase-card-score-cont {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateY(20%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase-card-score-bg {
  position: absolute;
  svg {
    width: 8vw;
    height: 8vw;
  }
}

.showcase-card-score {
  position: absolute;
  z-index: 1;

  color: var(--solo-score-color);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $dark;
  font-family: "Pixeloid";
  font-size: 3vw;
}

.showcase-card-brands-cont {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1vw;
}

.showcase-card-brand {
  display: flex;
  position: relative;
  z-index: 1;

  padding: 1vh 1vw;
  flex-direction: column;
  align-items: center;

  border-radius: 6px;
  border: 12px solid rgba($dark, 0.9);
  background: var(--solo-score-gradient);
  box-shadow: 0px 0px 40px 0px rgba($white, 0.75);
}

.showcase-card-brand-title {
  color: $white;
  text-shadow: 0px 2.554px 6.386px rgba(0, 0, 0, 0.36);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--solo-score-color);
  font-family: "Pixeloid";
  font-size: 2.5vw;
  z-index: 1;
}

.showcase-card-brand-type {
  color: $green;
  font-family: "Helvetica";
  font-size: 1.5vw;
  position: relative;
  z-index: 1;
  // mix-blend-mode: color-dodge;
}

.showcase-card-brand-logo {
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: color-burn;
  inset: 0;
}

@include bp("md") {
  .showcase-searchbar-text {
    font-size: 1vw;
  }

  .showcase-searchbar {
    width: 35vw;
  }

  .showcase-card {
    padding: 1vh 2vw;
  }

  .showcase-cards-cont {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
