.single-hero-img {
  width: 100vw;
  height: 100lvh;
  mix-blend-mode: difference;
  position: absolute;
  // inset: 0;
  bottom: 0;
}

.single-content {
  position: relative;
}

.single-bg {
  position: absolute;
  inset: 0;
  z-index: -2;
  background: $dark-blue;
}

.single-pattern-container {
  background-image: url(../asset/img/pattern-1.png?as=webp&width=1000);
  background-repeat: repeat;
  background-size: auto; /* or specify dimensions */
  background-position: center;
  position: absolute;
  inset: 0;

  padding-bottom: 15vh;
  z-index: -1;
}

.single-hero-tiles {
  position: absolute;
  inset: 0;
  mix-blend-mode: difference;

  z-index: -1;
  opacity: 0.2;
  animation: opacity infinite 4s ease-in-out;
}

@keyframes opacity {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.2;
  }
}

.single-hero-cont {
  background: var(--main-score-color);
  position: relative;
  z-index: -2;
  height: 130vh;
  overflow: hidden;
}

.single-hero-siege-social,
.single-alternative-section-title {
  color: $dark;
  text-align: center;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.4);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $light;
  font-family: "Inspiration";
  font-size: 70px;
  margin-bottom: 10vh;
  padding-top: 25vh;
  font-weight: 400;
  position: relative;
  z-index: 1;
}

.single-hero-title {
  color: $light;
  font-family: "helvetica";
  font-size: 30vw;
  font-weight: 700;
  mix-blend-mode: difference;
  line-height: 80%;
  margin-bottom: 5vh;
  -webkit-text-stroke: 2px $yellow;
}

.single-hero-score-cont {
  position: relative;
  z-index: 1;
  border-radius: 25px;
  border: 8px solid var(--main-score-color);
  background: linear-gradient(180deg, #0101a1 0%, #010175 100%);

  overflow: hidden;
  width: 95vw;
  margin: auto;
}

.single-hero-score-line {
  width: 300%;
  display: flex;
  justify-content: space-between;
  animation: slider 5s linear infinite;
}

.single-hero-score {
  color: $light;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--main-score-color);
  font-family: "Pixeloid ";
  font-size: 42px;

  font-weight: 400;
}

@keyframes slider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.single-notation-transi {
  width: 100vw;
  z-index: 0;
  left: 0;
  top: 0;
  height: 30vh;
  background: linear-gradient(0deg, #0101a1 0%, rgba(115, 115, 115, 0) 100%);
  position: absolute;
  transform: translateY(-100%);

  &.reverse {
    transform: translateY(0);
    background: linear-gradient(
      180deg,
      #0101a1 0%,
      rgba(115, 115, 115, 0) 100%
    );
  }
}

.single-notation-section {
  padding: 2vh 1vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.single-notation-critere-cont {
  z-index: 1;
  position: relative;
  display: flex;

  max-width: 95vw;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 27px;
  border-radius: 10px;
  background: rgba($light, 0.15);
  backdrop-filter: blur(5px);
}

.single-notation-critere-titles {
  color: $yellow;

  font-family: "Pixeloid ";
  font-size: 20px;
  font-weight: 400;
}

.single-notation-criteres {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
}

.single-notation-critere {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  border: 4px solid var(--solo-score-color);
  background: $gradient-grey;
  font-size: 18px;
}
.single-notation-critere-label {
  font-weight: 600;
}

.single-notation-critere-score {
  border-radius: 3px;
  border: 1px solid $dark;
  background: var(--solo-score-color);
  padding: 0px 4px 0px 2px;
}

.single-notation-critere-cont.juridique {
  width: fit-content;
}

.single-notation-juridique-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1vh;
  width: 100%;
}

.single-notation-juridique {
  gap: 4vw;
  display: flex;
  background: $gradient-red;
  border-radius: 10px;
  border: 4px solid $red;
  padding: 10px 24px;
  text-decoration: none;
  transition: transform 0.5s;

  &:hover {
    transform: translateX(-10%);
    color: $light;
    border-color: $light;
  }
}

.single-notation-juridique-texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.single-notation-juridique-line {
  display: flex;
  gap: 0.5vw;
  align-items: baseline;
}

.single-notation-juridique-icon {
  font-size: 8vw;
}

.single-notation-juridique-type {
  font-size: 16px;
  font-family: "helvetica";
  font-weight: 700;
}

.single-notation-juridique-place {
  font-size: 20px;
  font-family: "Inspiration";
}

.single-notation-juridique-cta {
  font-size: 14px;
  text-decoration: underline;
}

.single-multinationale-thumbnail {
  border-radius: 8px;
  border: 4px solid var(--grey, #c0c0c0);
  background: var(--solo-score-color);
  display: inline-block;
  position: relative;
  text-decoration: none;
  width: 95vw;
  padding: 1vh 1vw;
  z-index: 1;
  transform: translateY(-30%);

  &:hover {
    .single-multinationale-img.logo {
      opacity: 0.6;
    }
  }
}

.single-multinationale-score {
  color: var(--solo-score-color);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: $light;
  font-family: "Pixeloid";
  font-size: 35vw;
  font-weight: 400;
  z-index: 1;
  position: relative;
  text-align: right;
  line-height: 95%;
}

.single-multinationale-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: difference;

  &.logo {
    mix-blend-mode: normal;
    opacity: 0;
  }
}

.single-multinationale-name {
  color: $light;
  font-family: "helvetica";
  font-size: 20vw;
  font-weight: 700;
  text-decoration: underline;
  mix-blend-mode: difference;
}

.single-multinationale-text {
  color: $light;
  text-align: right;
  font-family: Helvetica;
  font-size: 4vw;
  position: absolute;
  bottom: 1vh;
  right: 1vw;
  mix-blend-mode: difference;
}

.single-alternative-section {
  position: relative;
  height: 105vh;
}

.single-alternative-fade {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 50vh;
  transform: translateY(-70%);
  mix-blend-mode: hard-light;
  z-index: -1;

  &.sous-marque {
    transform: translateY(-50%);
    height: 80vh;
  }
}

.single-alternative-bg {
  height: 120vh;
  position: absolute;
  z-index: 1;
  top: 0;
  pointer-events: none;
  width: 100vw;

  &.sous-marque {
    height: 150vh;
    top: -35vh;
  }
}

.single-alternative-content {
  position: relative;
  z-index: 2;
}

.single-alternative-section-title {
  padding-top: 0;
}

.single-alternative {
  padding: 16px 8px;
  background: var(--solo-score-color);
  display: inline-block;
  text-decoration: none;
  color: $dark;
  position: relative;
  width: 55vw;
  box-shadow: 0px 0px 20px 0px rgba($light, 0.6);
  transition: border-radius 0.3s;
  overflow: hidden;

  &:hover {
    border-radius: 50%;
    // color: $light;
    animation: changeColor infinite 1s;
  }
}

@keyframes changeColor {
  0% {
    color: $dark;
  }
  50% {
    color: $light;
  }
  100% {
    color: $dark;
  }
}

.single-alternative-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0 1vw 0;
}

.single-alternative-title {
  font-family: "Pixeloid ";
  font-size: 16px;
  text-decoration: underline;
  margin-bottom: 2vh;
}

.single-alternative-type {
  font-size: 14px;
  position: relative;
  z-index: 1;
}

.single-alternative-score {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 8px;

  color: $light;
  font-family: "Inspiration";
  font-size: 50px;
  line-height: 80%;
  mix-blend-mode: soft-light;
}

.single-alternative-corr {
  color: $light;
  font-family: "Pixeloid ";
  font-size: 16px;
  text-align: center;
  opacity: 0.6;
  position: absolute;
  bottom: 5vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 2;
  padding: 4px 8px;

  &:hover {
    opacity: 1;
    color: $red;
    background: rgba($light, 0.7);
  }
}

@include bp("sm") {
  .single-multinationale-thumbnail,
  .single-notation-critere-cont.juridique {
    order: -1;
    align-self: flex-end;
  }

  .single-notation-section {
    gap: 2vh;
  }
}

@include bp("md") {
  .single-hero-img {
    height: unset;

    inset: 0;
    bottom: unset;
  }

  .single-hero-siege-social,
  .single-alternative-section-title {
    font-size: 100px;
    margin-bottom: 0;
  }

  .single-hero-score {
    font-size: 79px;
  }

  .single-hero-score-line {
    width: 200%;
  }

  .single-hero-title {
    margin-bottom: 0;
    -webkit-text-stroke-width: 5px;
  }

  .single-notation-critere-titles {
    font-size: 2.5vw;
  }

  .single-notation-section {
    flex-direction: row;
  }

  .single-notation-critere-cont {
    width: 55vw;
  }

  .single-notation-juridique {
    gap: 1.5vw;
  }

  .single-notation-juridique-icon {
    font-size: 3vw;
  }

  .single-notation-critere {
    font-size: 1.5vw;
  }

  .single-notation-juridique-place {
    font-size: 1.8vw;
  }

  .single-notation-juridique-type {
    font-size: 1.5vw;
  }

  .single-notation-juridique-cta {
    font-size: 1vw;
  }

  .single-multinationale-thumbnail {
    width: 30vw;
  }

  .single-multinationale-score {
    font-size: 15vw;
    -webkit-text-stroke-width: 4px;
  }

  .single-multinationale-name {
    font-size: 4vw;
  }

  .single-multinationale-text {
    font-size: 1.5vw;
  }

  .single-alternative-title {
    font-size: 2vw;
  }

  .single-alternative-type {
    font-size: 24px;
  }

  .single-alternative-cont {
    gap: 5vw;
    padding: 10vh 2vw 0;
  }

  .single-alternative {
    width: 30vw;
  }

  .single-alternative-score {
    font-size: 84px;
  }

  .single-alternative-corr {
    font-size: 24px;
  }
}
