* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  *::selection {
    background: $dark;
    color: $light;
  }
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  font-family: "helvetica";
  overflow-x: hidden;
  color: $dark;
}

main {
  overflow: hidden;
}

.scrolltrigger-cont {
  overflow: hidden;
}

.spacer {
  height: 100vh;
}

ul {
  list-style: none;
}
