@font-face {
  font-family: "Pixeloid";
  src: url(../asset/fonts/PixeloidMono.woff);
}

@font-face {
  font-family: "Helvetica";
  src: url(../asset/fonts/Helvetica.woff);
}
@font-face {
  font-style: italic;
  font-family: "Helvetica";
  src: url(../asset/fonts/Helvetica-Oblique.woff);
}

@font-face {
  font-family: "helvetica";
  font-weight: 600;
  src: url(../asset/fonts/Helvetica-Bold.woff);
}
@font-face {
  font-family: "helvetica";
  font-weight: 200;
  src: url(../asset/fonts/helvetica-Light.woff);
}

@font-face {
  font-family: "Inspiration";
  src: url(../asset/fonts/Inspiration-Regular.woff);
}
