$dark: #000;
$light: #fff;

// COLORS
$dark-blue: #0101a1;
$blue: #2d84c4;
$dark-red: #b00202;
$red: #fe280e;
$green: #00ff2f;
$yellow: #fdfd43;

:root {
  --main-score-color: #fe280e;
  --main-score-gradient: linear-gradient(0deg, #ef9416 0%, #fed78f 100%);

  --solo-score-color: #ff9f38;
  --solo-score-gradient: linear-gradient(0deg, #ef9416 0%, #fed78f 100%);
}

.low {
  --main-score-color: #fe280e !important;
  --main-score-gradient: linear-gradient(0deg, #d91414 0%, #fd8e8e 100%);
}
.mid {
  --main-score-color: #ff9f38 !important;
  --main-score-gradient: linear-gradient(0deg, #ef9416 0%, #fed78f 100%);
}
.high {
  --main-score-color: #00ff2f !important;
  --main-score-gradient: linear-gradient(0deg, #28c33a 0%, #acfcbc 100%);
}

.solo-low {
  --solo-score-color: #fe280e !important;
  --solo-score-gradient: linear-gradient(0deg, #d91414 0%, #fd8e8e 100%);
}
.solo-mid {
  --solo-score-color: #ff9f38 !important;
  --solo-score-gradient: linear-gradient(0deg, #ef9416 0%, #fed78f 100%);
}
.solo-high {
  --solo-score-color: #00ff2f !important;
  --solo-score-gradient: linear-gradient(0deg, #28c33a 0%, #acfcbc 100%);
}

// GRADIENTS
$gradient-blue: linear-gradient(0deg, #b3d8eb 0%, #f3fdff 100%);
$gradient-mix: linear-gradient(180deg, #fe280e 0%, #00ff2f 52%, #00c 100%);
$gradient-grey: linear-gradient(180deg, #c0c0c0 0%, #a6a6a6 100%);
$gradient-red: linear-gradient(0deg, #d91414 0%, #fd8e8e 100%);

// Variables CSS

//
@mixin bp($size) {
  @if $size == "md" {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $size == "lg" {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $size== "xl" {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size== "xxl" {
    @media (min-width: 1400px) {
      @content;
    }
  } @else if $size== "sm" {
    @media (max-width: 767px) {
      @content;
    }
  }
}
